
<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
  <%= link_to "sample app", '#', id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home",   '#' %></li>
      <li><%= link_to "Help",   '#' %></li>
      <li><%= link_to "Log in", '#' %></li>
    </ul>
  </nav>
</div>
</header>

<div class="center jumbotron">
<h1>Welcome to Bentleys Bakery</h1>
<h4>
Bentley's started in Tarah Fontaine's kitchen after graduating from the New England Culinary Institute. She began baking cakes and treats for her local community until her oven and storage space were consistently over worked. So she bought an existing bakery in Danville and converted the business into her own vision.
Bentley's specializes in Wedding & Artisanal Cakes for any occasion. We host a full cafe setting which is fun and lively, (Due to Covid-19 we are to-go only).
We brew exclusively with Vermont Coffee Company's beans while offering breakfast and lunch items. Also, we have healthy smoothies or delicious treats for those on the go!
PLEASE NOTE: We are currently not accepting orders for wedding cakes.
To order an Artisanl Cake, PLEASE CALL: (802)684-3385 </h4>

  <%= link_to "Online Menu", '#', class: "btn btn-lg btn-primary" %>
</div>



